<ul style="margin-top:0; font-size:15px">
<li>weight of evidence (WOE) & information value (IV)</li>
<li>correlation (pearson, spearman, kendall)</li>
<li>chi-square test (categorical vs categorical)</li>
<li>ANOVA f-test (numerical vs categorical)</li>
<li>variance inflation factor (VIF)</li>
<li>stepwise regression</li>
<li>entropy & information Gain</li>
<li>L1, L2 & elastic net</li>
<li>XGBoostâ€™s feature ranking</li>
</ul>

In [64]:
import numpy as np
import pandas as pd

In [65]:
df = pd.read_csv('features.csv')
display(df)

   id  age  promise_kept_ratio  default
0   1   22                0.70        0
1   2   25                0.50        1
2   3   30                0.90        0
3   4   35                0.60        1
4   5   40                0.80        0
5   6   45                0.55        1
6   7   50                0.95        0
7   8   55                0.40        1
8   9   60                0.85        0
9  10   65                0.30        1

In [66]:
# Define good (non-default = 0) and bad (default = 1)
df["good"] = 1 - df["default"]
df["bad"] = df["default"]

In [67]:
df["age-bucket"] = pd.cut(df['age'], bins=[20, 35, 50, 70], labels = ["20-35", "36-50", "51-70"])
display(df)

   id  age  promise_kept_ratio  default  good  bad age-bucket
0   1   22                0.70        0     1    0      20-35
1   2   25                0.50        1     0    1      20-35
2   3   30                0.90        0     1    0      20-35
3   4   35                0.60        1     0    1      20-35
4   5   40                0.80        0     1    0      36-50
5   6   45                0.55        1     0    1      36-50
6   7   50                0.95        0     1    0      36-50
7   8   55                0.40        1     0    1      51-70
8   9   60                0.85        0     1    0      51-70
9  10   65                0.30        1     0    1      51-70

In [68]:
age_woe = df.groupby(['age-bucket'], observed=False)[['good', 'bad']].sum().reset_index(drop=False)
display(age_woe)

  age-bucket  good  bad
0      20-35     2    2
1      36-50     2    1
2      51-70     1    2

In [69]:
age_woe['good dist'] = age_woe['good'] / age_woe['good'].sum()
age_woe['bad dist'] = age_woe['bad'] / age_woe['bad'].sum()

In [70]:
age_woe['woe'] = np.log(age_woe['good dist'] / age_woe['bad dist'])

In [72]:
age_woe

  age-bucket  good  bad  good dist  bad dist       woe
0      20-35     2    2        0.4       0.4  0.000000
1      36-50     2    1        0.4       0.2  0.693147
2      51-70     1    2        0.2       0.4 -0.693147